.Rhistory
.Rproj.user
.vscode/
*_cache/
*_files/
*.code-workspace
*.pdf
*.tar.gz
*Rproj*
/check/
/revdep/
archive/
assets/
dist/
docs/
inst/doc/
tests/testthat_outputs/
tests/testthat/_snaps/
vdiffr.Rout.fail
