.Rhistory
.Rproj.user
.vscode/
*_cache/
*_files/
*.code-workspace
*.tar.gz
*Rproj*
/check/
/revdep/
archive
assets
RMD/figs/
RMD/figure
RMD/libs/
tests/testthat_outputs
tests/testthat/_snaps
dist
inst/doc
docs
