.Rhistory
.Rproj.user
.vscode/
*_cache/
*_files/
*.bkp
*.code-workspace
*.pdf
*.tar.gz
*Rproj*
/check/
/doc/
/Meta/
/revdep/
archive/
assets/
dist/
docs/
inst/doc
inst/doc/
tests/testthat_outputs/
tmp
vdiffr.Rout.fail
